.sectioncard-container {
  // border: 1px solid blue;
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 70vh;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  z-index: 999;
  margin-top: -130px;
  margin-bottom: 100px;

  button {
    border: none;
    color: white;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    box-shadow: 0 12px 11px rgba(0, 0, 0, 0.035),
      0 100px 80px rgba(0, 0, 0, 0.07);
    margin-bottom: 20px;
  }

  .btn-orange {
    background-color: hsl(27, 90%, 45%);
  }

  .btn-blue {
    background-color: hsl(206, 100%, 52%);
  }
}
