#questionsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // flex-wrap: wrap;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  // border: 1px solid black;

  // &:hover {
  //     cursor: pointer;
  //     box-shadow: 0 0 5px black;
  //     height: 210px;
  //     width: 210px;
  //     transition: 0.5s;
  //   }
}

// #questionsContainer .questionBox:not(:hover) {
//   height: 200px;
//   width: 200px;
//   transition: 0.5s;
// }

@media only screen and (max-width: 1024px) {
  #questionsContainer {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
