.sectioncard {
  border-radius: 7px;
  width: 30%;
  height: 100%;
  min-width: 200px;
  min-height: 950px;
  // border: 1px solid red;
  box-shadow: 0 12px 11px rgba(0, 0, 0, 0.035), 0 100px 80px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  font-family: "Roboto Slab", sans-serif;
  padding: 16px;
  z-index: 999;
  margin: 0 20px;
  justify-content: flex-start;
  align-items: center;

  img {
    aspect-ratio: 1/1;
    height: 50%;
    width: 120%;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 24px;
  }

  p {
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 300;
  }
}

.bg-orange {
  background: linear-gradient(0deg, hsl(27, 95%, 90%) 30%, hsl(0, 0%, 100%));
}

.bg-blue {
  background: linear-gradient(0deg, hsl(206, 96%, 90%) 30%, hsl(0, 0%, 100%));
}

.bg-green {
  background: linear-gradient(0deg, hsl(146, 96%, 90%) 30%, hsl(0, 0%, 100%));
}
