@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

.header {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 95vh;
  background-color: #064165;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  position: relative;

  .header-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 20px;
    // border: red 1px solid;
    width: 100%;
    height: 90vh;

    .logo {
      aspect-ratio: 1/1;
      width: 35%;
      // border: rebeccapurple solid 1px;
    }

    hr {
      width: 10%;
      color: white;
      margin-top: -40px;
      margin-bottom: -10px;
    }

    p {
      font-size: 16px;
    }

    button {
      border: none;
      margin: 20px auto 60px auto;
      width: 45%;
      height: 40px;
      border-radius: 5px;
      font-family: "Nunito", sans-serif;
      font-weight: 700;
      font-size: 14px;
      background-color: #0269a9;
      color: white;
      cursor: pointer;
    }
  }

  .header-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;

    img {
      aspect-ratio: 1/1;
      width: 100%;
      height: 100%;
    }

    .sz-128 {
      height: 128px;
      width: 128px;
    }

    .sz-64 {
      height: 64px;
      width: 64px;
    }

    .sz-96 {
      height: 96px;
      width: 96px;
    }

    .square {
      background-color: white;
      display: block;
      border-radius: 10%;
      z-index: 10;
    }
  }
}

.mirror {
  transform: rotateY();
}

.custom-shape-divider-bottom-1670716559 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1670716559 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 58px;
}

.custom-shape-divider-bottom-1670716559 .shape-fill {
  fill: #dae0e6;
}
