#questionsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    border: solid black 1px;
}

.questionBox {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid black 1px;
    width: 200px;
    height: 200px;
    margin: 15px;
}

.questionBox:hover {
    background-color: red;
}
